html {
    --cg-color-1: #1DD500;
    --cg-color-2: #58E342;
    --cg-color-3: #30E014;
    --cg-color-4: #17AA00;
    --cg-color-5: #128400;
}

h1 {
    color: var(--cg-color-1);
}

h3 {
    color: var(--cg-color-1);
}

a {
    color: var(--cg-color-1);
}