<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DB TEST</title>
    <link rel="icon" type="image/x-icon" href="static/goober.png"/>
</head>
<body>
    <h1>Ajouter nouveau modèle de vélo</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if err == 'invalidModele' %}
        <div class="error">Modele déja existant</div>
    {% endif %}
    <form method="POST">
        <input type="text" name="modele" placeholder="Modèle du vélo" required>
    </form>
    <h1>Vélos</h1>
    <table id="velosTable" border="1"></table>
    <h1>Parcours</h1>
    <table id="parcoursTable" border="1"></table>
    <h1>Points</h1>
    <table id="pointsTable" border="1"></table>
    <script src="{{% url_for('static/DB-refresh.js') %}}"></script>
</body>
</html>