<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DB TEST</title>
    <link rel="icon" type="image/x-icon" href="static/goober.png"/>
</head>
<body>
    <h1>Ajouter nouveau modèle de vélo</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if err == 'invalidModele' %}
        <div class="error">Modele déja existant</div>
    {% endif %}
    <form method="POST">
        <input type="text" name="modele" placeholder="Modèle du vélo" required>
    </form>
    <h1>Vélos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Modèle</th>
        </tr>
        {%for velo in velos%}
        <tr>
            <td>{{ velo["id"] }}</td>
            <td>{{ velo["modele"] or '-'}}</td>
        </tr>
        {% endfor %}
    </table>

    <hr>

    <h1>Parcours</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>ID_vélo</th>
            <th>Temps</th>
        </tr>
        {% for parcours in parcours %}
        <tr>
            <td>{{ parcours["id"] }}</td>
            <td>{{ parcours["id_velo"] }}</td>
            <td>{{ parcours["temps"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <h1>Points</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Temps Total</th>
            <th>Batterie</th>
        </tr>
        {% for points in points %}
        <tr>
            <td>{{ points["id"] }}</td>
            <td>{{ points["temps"] }}</td>
            <td>{{ points["battery"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>