<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="static/goober.png"/>
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
    <header class="top-bar">
        <nav>
            <a href="/">Retour à la page principale</a>
        </nav>
    </header>
    <div class="login-box">
        <img src="static/goober.png" alt="Logo du site">
        <h2>Connexion</h2>
        {% if err == 'invalidLogin' %}
            <div class="error">Nom d'utilisateur ou mot de passe invalide</div>
        {% endif %}
        <form method="POST">
            <div class="login-input">
                <input type="text" name="username" placeholder="Nom d’utilisateur" required />
                <input type="password" name="password" placeholder="Mot de passe" required />
            </div>
            <div class="button">
                <button type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</body>
</html>