<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="static/goober.png"/>
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
    <div class="login-box">
        <img src="static/goober.png" alt="Logo du site">
        <h2>Connexion</h2>
        <form method="POST">
            <div class="login-input">
                <input type="text" name="username" placeholder="Nom d’utilisateur" required />
                <input type="password" name="password" placeholder="Mot de passe" required />
            </div>
            <div class="button">
                <button type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</body>
</html>